/*=~=~=~=~=~ VARIABLES =~=~=~=~=~*/
:root{
  --background: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --header-height: 3rem;
}

/*=~=~=~=~=~ RESET =~=~=~=~=~*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: var(--header-height) 0 0 0;
  padding: 0;
  background: var(--background);
  height: auto;
  font-family:'Manrope',sans-serif;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

ul{
  /*padding: 0;*/
  list-style: none;
}

li{
  position: relative;
}

img{
  width: 100%;
  height: auto;
}

button{
  color: var(--text-color);
  background: transparent;
  cursor: pointer;
  transition: .5s;
  border: 1px solid var(--button);
  border-radius: .2rem;
}

button:hover{
  background: var(--button);
}

/*=~=~=~=~=~ HEADER =~=~=~=~=~*/
header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--background);
  border-bottom: 1px solid gray;
  padding: 5px;
}

/*=~=~=~=~=~ CONTENT =~=~=~=~=~*/
.content{
  margin-top: 10rem;
  text-align: center;
}

.image{
  width: 360px;
  margin-top: 90px;
}

/*=~=~=~=~=~ LOGO =~=~=~=~=~*/
.logo-desktop{
  display: none;
  width: 50px;
  border-radius: 50%;
}

/*=~=~=~=~=~ NAV =~=~=~=~=~*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__close,.nav__toggle{
  font-size: 30px;
  color: var(--button);
}

/*=~=~=~=~=~ NAV MOBILE =~=~=~=~=~*/
@media screen and (max-width: 768px){
    header{
      padding: 15px;
    }
    .nav__menu{
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      padding-top: 4rem;
     background: var(--background);
     transition: .5s;
  }
  
  .nav__close{
     position: absolute;
     top: .75rem;
     right: 1rem;
     font-size: 2.5rem;
     cursor: pointer;
  }
  
  .nav__list{
    margin-top: 40px;
  }
  
   .nav__item{
     margin-bottom: 2rem;
     color: var(--text-color);
     border-top: 1px solid var(--border-menu-mobile);
    padding-bottom: 10px;
    margin-top: -30px;
    padding: 20px;
  }
  
  .nav__item:last-child{
    border-bottom: 1px solid var(--border-menu-mobile);
  }
  
   .nav__item a{
     margin-left: 1rem;
  }
  
    .nav__item a:after{
      content:  "";
      position: absolute;
      height: 0px;
      width: 0px;
      left: 0;
      top: 0;
      background: var(--button);
     transition: 0.3s;
   }
   
   .nav__item a:hover:after{
    width: 4px;
    height: 64px;
   }
  
  .logo-mobile{
    position: relative;
    z-index: 1;
  }
}

/*=== Show menu ===*/
.show{
  right: 0;
}

/*=~=~=~=~=~ BUTTONS =~=~=~=~=~*/
.button-mobile{
  display: flex;
  padding: 5px 30px;
  margin-top: 6rem;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
}

.button-mobile i{
  margin-left: 5px;
  font-size: 17px;
}

.button-desktop{
  display: none;
  padding: 5px 30px;
}

/*=~=~=~=~=~= TITLES =~=~=~=~=~*/
.title{
  color: var(--text-color);
  margin-top: 6rem;
  font-size: 45px;
}

.title-mobile{
  color: var(--text-color);
}

/*=~=~=~=~=~= STROKE =~=~=~=~=~*/
.stroke{
  position: relative;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
  color: var(--button);
  font-size: 45px;
  font-family: 'Poppins',sans-serif;
  animation: animate 5s linear infinite ;
  z-index: -1;
}

@keyframes animate{
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
    color: var(--button);
    text-shadow: none;
  }
  
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
    color:#b2d9f7;
    text-shadow: 0 0 0 10px var(--button);
    0 0 20px var(--button),
    0 0 40px var(--button),
    0 0 80px var(--button),
    0 0 160px var(--button);
  }
}

/*=~=~=~=~=~ BLUR =~=~=~=~=~*/
.blur{
  display: none;
}

.blur2{
  display: none;
}

.blur-mobile{
  position: relative;
  margin-top: -570px;
  z-index: -1;
}

/*=~=~=~=~=~ RESPONSE =~=~=~=~=~*/
@media screen and (min-width: 768px){
  header{
    border-bottom: none;
    background: transparent;
  }
  
  .nav{
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .nav__list{
    display: flex;
    gap: 2.5rem;
  }
  
  li:after{
    content: " ";
    position: absolute;
    background: var(--button);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  
  li:hover:after{
    width: 100%;
  }
  
  .logo-desktop,.button-desktop{
    display: block;
  }
  
  .logo-mobile,.title-mobile,.button-mobile,.nav__toggle,.nav__close,.blur-mobile{
    display: none;
  }
  
  .title{
    margin-top: -10px;
  }
  
  .title,.stroke{
    font-size: 70px;
  }
  
  .image{
    width: 550px;
  }
  
  .blur{
    display: block;
    margin-top: -1100px;
  }
  
  .blur2{
    position: relative;
    display: block;
    margin-top: -700px;
    z-index: -1;
  }
}
